.backgroundDiv {
    background-image: url("../../../public/images/PageComingSoon.jpg");
    min-height: 100vh; /* Minimum yükseklik olarak ekranın tam yüksekliğini ayarlayın */
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
    position: relative; /* İçerik için pozisyon referansı */
    overflow: hidden;
  }
  
  .sya {
    color: rgb(249, 191, 0);
    font-size: 65px;
    text-align: center;
    padding-top: 180px;
    font-weight: bolder;
    text-shadow: 2px 8px 6px rgba(70, 56, 1, 0.5);
    transition: all 0.3s ease; /* Yumuşak bir geçiş efekti */
  }
  
  .sya:hover {
    color: rgb(249, 215, 0); /* Fare üzerine geldiğinde renk değişimi */
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3); /* Gölge efektini azalt */
    transform: scale(1.05); /* Metni biraz büyüt */
  }
  